.plus-button-link {
    display: inline-block;
    background-color: rgb(241, 192, 128);
    /* green */
    color: black;
    /* white text */
    padding: 14px 20px;
    /* some padding */
    text-align: center;
    /* center the text */
    text-decoration: none;
    /* remove underline */
    font-size: 17px;
    /* increase text size */
    margin: 4px 2px;
    /* some margin */
    cursor: pointer;
    /* add a mouse pointer on hover */
    border-radius: 12px;
    /* rounded corners */
    transition-duration: 0.4s;
    /* transition */
    position: fixed;
    right: 20px;

}



img {
    width: 240px;
    height: 350px;
    object-fit: cover;
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 30px;
}


.btn {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-update {
    background-color: #007BFF;
    color: #fff;
    border: none;
    margin-left: 150px;
}

.btn-update:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    margin-left: 89px;
}

.btn-danger:hover {
    background-color: #c82333;
}