* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 245, 232);
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    z-index: 1;
    max-width: 100%;
}

main{
    padding-top: 180px;
}


.menu li {
    display: inline;
    margin-right: 30px;
}

.menu li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: burlywood;
}

.menu li a:hover {
    color: brown;
    text-decoration: underline;
}

.hamburger {
    display: none;
}

.container {
    padding: 1%;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 25px 0px;
    gap: 20px;
    background-color: bisque;
}

.row p {
    margin: 10px;
    margin-bottom: 20px;
}

.row .col-25 {
    width: 25%;
}

.row .col-25 img {
    margin-bottom: 20px;
}

.row .col-25 li{
    margin-top: 20px;
}

.copyright {
    background-color: black;
    color: white;
    padding: 0.4%;
    text-align: center;
}

.formular{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 150px;
}
input{
    width: 300px;
    height: 40px;
    margin-bottom: 50px;
    border-radius: 15px;
    border: solid black 2px;
}
textarea{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: solid black 2px;
}
input[type="checkbox"]{
    border-radius: 15px;
    height: 16px;
}
label {
    display: block; 
    font-size: 10px;
    margin-bottom: 10px; 
    font-weight: bold;
}
.nadpis h1{
    text-align: center;
    margin-bottom: 80px;
}

input[type="submit"]{
    background-color: antiquewhite;
}
input[type="submit"]:hover{
    background-color: rgb(235, 177, 140);
}




@media screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: inline;
    }

    .main-header {
        position: relative;
        top: 0px;
    }

    .menu.responsive {
        display: block;
        position: absolute;
        background-color: rgb(250, 227, 196);
        width: 100%;
        top: 60px;
        left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .menu.responsive li {
        display: block;
        margin-left: 37%;
    }

    .menu.responsive li a {
        color: rgb(210, 155, 87);
    }

    .menu.responsive li a:hover {
        color: brown;
    }

}